*{
    font-family: UbuntuMono Nerd Font;
    font-size: 20px;
    min-height: 0;
    border-radius: 0;
}
window#waybar {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
}
#clock,
#pulseaudio,
#tray,
#language,
#window,
#taskbar,
#backlight,
#battery,
#network
{
    background: #ffffff;
    color: #35557c;
    padding: 0 12px;
    margin: 0 0px;
}
#taskbar button:hover {
    color: #ffebb8;
    background: #ffffff;
    box-shadow: inset 0 -3px #1a8fff;
}
#taskbar button.minimized{
    background: #cccccc;
}
#taskbar button.active{
    background: #07d773;
}
#custom-right,
#custom-left {
    font-size: 22px;
    color: #ffffff;
    padding: 0 0px;
    margin: 0 0px;
}
#custom-right2,
#custom-left2 {
    font-size: 24px;
    color: #ffffff;
    background: #ffffff;
    padding: 0 0px;
    margin: 0 0px;
}
